/* true-false */

.true-false__option {
    color: var(--primary-900);
    background-color: var(--accent);
}

.true-false__option:has(input:checked) {
    background-color: var(--primary-900);
    color: var(--white);
}

.true-false__option:has(input[data-state="right"]) {
    background-color: var(--success);
    color: var(--white);
}

.true-false__option:has(input[data-state="wrong"]) {
    background-color: var(--wrong);
    color: var(--white);
}

/* select */
.item-select {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


@media (min-width: 1025px) {
    .item-select {
        grid-template-columns: 70% 1fr;
    }
}
select with paragraph
.selects-wrapper {
    p {
        display: inline;
        line-height: 0.8rem;
    }

    .select {
        display: inline-block;
        margin: 0.6rem;
        vertical-align: middle;
    }
}