.card,
.cardText,
.cardAudioSlide {
    border: none;
    width: 170px;
    min-height: 170px;
    max-height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fbb40a;
    padding: 0;

    cursor: pointer;
}

.cardText {
    min-height: 160px;
    height: auto;
    overflow: auto;
    max-height: 160px;
}

.card>div {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* .cardAudio .audioButton {
    margin-top: 23%;
} */

.card .textCard,
.textCard {
    background-color: #634323;
    color: var(--clr-background);
    width: 100%;
    text-align: center;
    min-height: 50px;
    max-height: 50px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 14px 14px;


}

/* .audioButton {
    border: 1px solid red !important;
    color: red !important;
    background-color: transparent !important;
} */

.imgElement {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

html[data-dark-mode="true"] .card p {
    background-color: var(--clr-elements-dark-mode);
}

html[data-dark-mode="true"] .textCard[data-value="true"],
.textCard[data-value="true"] {
    background-color: var(--clr-activity-success);

}

html[data-dark-mode="true"] .textCard[data-value="false"],
.textCard[data-value="false"] {
    background-color: var(--clr-activity-wrong);

}

html[data-dark-mode="true"] .textCard[data-value="false"],
html[data-dark-mode="true"] .textCard[data-value="false"] {
    color: var(--clr-elements-dark-mode)
}

.textChildren {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textChildren p {
    font-weight: initial !important;
    max-height: 110px;
    overflow: auto;
    padding: 0.5rem;

}

.containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-image: url("assets/images/cardSelectImage/bgGameCards.webp");
}

.cardAudioModal {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    gap: 1rem;
}

/* .cardAudio {
    justify-content: space-evenly !important;
} */

/* .audioElement {
    margin-top: 50%;
} */

.cardAudioSlide>.containerAudio {
    margin-top: 23%;
}

.imageQuestion img {
    width: 100%;
    min-height: 120px !important;
    max-height: 130px !important;
    overflow: auto;
    margin: 0;
    background-color: transparent !important;
}

.imageQuestion {
    padding: 0 !important;

}