.title-slide {
    --wrapper-width: 150ch;
    grid-area: title;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
}

.title-slide__title {
    align-self: start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: 900;
}

.title-slide__title :is(h1, span) {
    font-size: var(--fs-700);
}

.title-slide__title h1 {
    font-weight: 400;
}

.title-slide__indicator {
    width: 100%;
}

.page-indicator {
    float: inline-end;
    font-size: var(--fs-200);
    vertical-align: bottom;
}

.page-indicator>*+* {
    padding-inline: .5rem;
}

.page-indicator svg {
    --icon-size: 1rem;
    color: var(--primary-700);
    display: inline-block;

}

@media screen and (max-width: 1536px) {
    .title-slide :is(h1, span) {
        font-size: var(--fs-400);
    }
}

@media screen and (max-width: 1240px) {
    .title-slide h1 {
        font-size: var(--fs-300);
    }

}

.progress-bar {
    --size: 0%;

    display: flex;
    align-items: stretch;
    min-height: .8rem;
    background-color: var(--secondary-100);
    border-radius: 1rem;
    width: 100%;
}

.progress-bar div {
    background-color: #fffc36;
    background-image: linear-gradient(-45deg,
            var(--accent) 25%,
            transparent 25%,
            transparent 50%,
            var(--accent) 50%,
            var(--accent) 75%,
            transparent 75%,
            transparent);
    background-size: 20px 20px;
    -webkit-mask-image: linear-gradient(90deg, #000 70%, rgba(0, 0, 0, 0.3) 100%);
    mask-image: linear-gradient(90deg, #000 70%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 1rem;
    transition: flex-basis 1s ease;
    flex-basis: var(--size);
    animation: moveStripes 1s linear infinite;
}

@keyframes moveStripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 20px 0;
    }
}