.modal {
    --modal-max-width: 50.375rem;
    font-size: var(--fs-300);
}

.modal h2 {
    font-size: var(--fs-400);
    font-weight: 800;
}

.bibliography-link a {
    word-break: break-all;
    color: var(--primary);
    transition: color 120ms ease;
}

.bibliography-link a:hover {
    color: var(--primary-400);
}